<configuration>

    <!-- 二选一 -->
        <include resource="logback-sleuth-common.xml"/>
<!--    <include resource="logback-skywalking-common.xml"/>-->

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="async_console"/>
        </root>
        <logger name="org.example.service" level="debug"/>
    </springProfile>

    <springProfile name="dev,sit,prod">
        <root level="info">
            <appender-ref ref="async_info"/>
            <appender-ref ref="async_error"/>
        </root>
        <logger name="org.example.service" level="debug"/>
    </springProfile>

</configuration>
